*{
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body{
    /* background: rgb(32, 41, 59); */
    background: rgba(32, 41, 59, 0.992);
    color: white;
    padding: 0 2rem;
}